<div class="row" id="legend">
	<legend class="col-sm-4">Login</legend>
</div>
<div class="row">
	<div class="col-sm-4">
		<form>
			<div class="form-group">
				<label for="inputEmail">Username</label>
				<input type="email" class="form-control" id="inputEmail" ng-model="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" ng-model="password" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default" ng-click="login(username, password)">Login</button>
		</form>
	</div>
	<div class="col-sm-4">
		<a ng-href="{{sqrl.sqrlUrl}}" id="sqrl-link"> <img id="sqrl-qr"
			ng-src="{{sqrl.sqrlQr}}" alt="Smart Login Code"
			style="max-width: 100%" />
		</a>
		<div class="alert alert-success" ng-if="sqrl.loginSucceeded">Login
			Succeeded</div>
	</div>
</div>
